.contactsBlock{
    background-color:#212428;
}



.contactsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    padding: 20px;
    font-size: 1.5em;
    color: #ff014f;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
}

.button{
    padding: 10px 20px;
    background-color: grey;
}

.form input, .form textarea {
    width: 100%;
}