.contactsBlock {
    background-color: #212428;
    padding-bottom: 20px;
}


.contactsContainer {
    padding-top: 90px;
    flex-direction: column;
    justify-content: flex-start;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
    height: 100%;
}

.form input, .form textarea {
    background-color: #191b1e;
    border-radius: 6px;
    border: 2px solid #191b1e;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 18px;
    color: #c4cfde;
    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    letter-spacing: 1px;
    resize: none;
    margin-bottom: 5px;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    display: block;
    line-height: 14px;
    color: #ff014f;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color:#c4cfde;
    margin-top: 15px;
    margin-bottom:30px
}


.form input, .form textarea {
    width: 95%;
}

.error{
    color: red;
}