.jobBlock{
    background-color:  rgba(0,0,0,.8);
}

.jobsContainer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.title{
    font-size: 1.5em;
}

.button{
    background-color: grey;
    width: 100px;
    height: 30px;

}
