.jobBlock{
    height: 20vh;
    background-color:  rgba(0,0,0,.8);
}

.jobsContainer{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 1.3em;
}

.jobsContainer button{
    background-color: grey;
    width: 100px;
    height: 30px;

}