.skillsBlock {
    min-height: 60vh;
    background-color:#212428;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen  and (max-width: 650px){
    .skills{
        justify-content: center;
    }
}