.mainContainer {
    min-height: 95vh;
    background-color: #212428;
    padding-top: 150px;
}

.container {
    height: 100%;
    width: 80%;
}

.preview {
    width: 300px;
    background-color: #212428;
}

.preview span {
    font-weight: 300;
}

.photo img {
    width: 380px;
    height: 450px;
    border-radius: 10px;
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ff014f;
    letter-spacing: 2px;
    display: block;
    line-height: 14px;
}


.name {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4074;
    color: #ffffff;
    font-weight: 600;
}


.particles {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
}

@media only screen and (max-width: 855px) {
    .mainContainer {
        padding-top: 50px;
    }
}