.project {
    width: 450px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;

}

.image button{
    width: 100px;
    height: 30px;
    background-color: darkgray;
}

.image {
    background-color: grey;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


