.project {
    width: 450px;
    flex-direction: column;
    text-align: left;
    padding: 30px;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    z-index: 1;
    height: 100%;
    transition: 0.5s all ease-in-out;
    display: inline-block;
    margin-top: 50px;

}

.image button{
    width: 100px;
    height: 30px;
    background-color: darkgray;
}

.image {
    border-radius: 10px;
    background-color: grey;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #ff014f;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
}

.description{
    color:#c4cfde;
    margin-bottom: 30px;
}