.footerBlock {
    min-height: 20vh;
    background-color: #212428;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}

.icons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    border-radius: 5px;
    color: #c4cfde;
    cursor: pointer;
    &:hover{
        color:#ff014f;
        transform: translateY(-5px);
    }
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #c4cfde;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    font-weight: 300;
}
.wrapper{
    background-color: #212428;
    min-height: 20vh;
}