.projectsBlock {
    background-color: rgba(0, 0, 0, .8);
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;


}


.title {
    background-color: darkgray;
}


.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}