.projectsBlock {
    background-color: #212428;
    padding: 60px;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}